{% extends 'base.html.twig' %}

{% block title %}Customer index{% endblock %}

{% block body %}
    <div class="buttonParcours">
        <a href="{{ path('app_customer_new') }}">+ Ajouter un voyageur</a>
    </div>
    <h1>Liste de clients</h1>
       
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Numéro de téléphone</th>
               
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr class="customer-row" data-customer="{{ customer.nom }} {{ customer.prenom }}"><br>
                
                <td style="padding: 25px 8rem 25px 25px;font-family: 'Nunito'">{{ customer.prenom}} {{customer.nom}}</td>
                <td style="padding: 25px 6rem 25px 25px;font-family: 'Nunito'">{{ customer.email }}
                <td style="padding: 25px 6rem 25px 25px;font-family: 'Nunito'">{{ customer.telephone }}</td>
                
                
                <td>
                    <div class="dropdown">
                        <img src="{{ asset('images/barre.svg') }}" alt="Menu">
                        <div class="dropdown-content">
                            <div class="edit">
                            
                            <a href="{{ path('app_customer_edit', {'id': customer.id}) }}"><img src="{{ asset('images/Edit.svg') }}"></a>
                            </div>
                            <div class="delete">
                            
                            <a href="{{ path('app_customer_delete', {'id': customer.id}) }}"><img src="{{ asset('images/Delete.svg') }}"></a>
                            </div>
                            <div class="create">
                            {# <a href="{{ asset('qrcodes/customer_' ~ customer.id ~ '.pdf') }}" download>PDF</a> #}
                            <a href="{{ path('app_parcours_new', {'customerId': customer.id}) }}"><i class="fas fa-plus" style="color: #00CDBD;"></i></a>
                            </div>
                        </div>
                    </div>

                </td>
                
            </tr>
        {% else %}
            
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
     <script>
    // Get all the dropdown containers
    var dropdowns = document.querySelectorAll('.dropdown');

    // Loop through the dropdown containers
    dropdowns.forEach(function(dropdown) {
        // Get the dropdown content
        var dropdownContent = dropdown.querySelector('.dropdown-content');

        // Add a click event listener to the image
        dropdown.querySelector('img').addEventListener('click', function() {
            // Toggle the visibility of the dropdown content
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });

        // Hide the dropdown content if the user clicks outside of it
        window.addEventListener('click', function(event) {
            if (!dropdown.contains(event.target)) {
                dropdownContent.style.display = "none";
            }
        });
    });

 var rows = document.querySelectorAll('tr[data-customer]');
  var sidebarRight = document.querySelector('.sidebar-right');

  rows.forEach(function(row) {
    row.addEventListener('click', function() {
      var customerName = row.dataset.customer;
      sidebarRight.innerHTML = `
        <div class="sidebar-right-top">
          <div class="sidebar-right-top-image">
            <img src="{{ asset('images/avatar.svg') }}">
          </div>
          <p>${customerName}</p>
        </div>
        <div class="sidebar-right-bottom">
        <p><b>Etapes de voyage</b></p>
        <div class="steps">
        <p><b>Vol</b></p>
        <p>Aéroport CDG</p>
        <p>8h30</p>
        </div>
        <div class="steps">
        <p><b>Arrivée à Barcelone</b></p>
        <p>Aéroport CH</p>
        <p>10h30</p>
        </div>
        <div class="steps">
        <p><b>RDV avec chauffeure</b></p>
        <p>14h</p>
        </div>
      `;
    });
  });

</script>
<script src="https://kit.fontawesome.com/e759c3bbed.js" crossorigin="anonymous"></script>
    
   
{% endblock %}
